#icons {  
  position: absolute;
  right: 10px;
}
  
mat-icon {
  margin-right: 15px;
  cursor: pointer;
}
  
a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: Roadster;
  font-size: x-large;
}

.logo {
  width: 200px;
  margin-left: 395px;
  margin-right: 445px;
}