<div class="item-container-1">
  <mat-chip-listbox class="chip" aria-label="Categories">
    <mat-chip-option (click)="filterCakesByCategory(null)">All</mat-chip-option>
    <mat-chip-option (click)="filterCakesByCategory('brownies')">Brownies</mat-chip-option>
    <mat-chip-option (click)="filterCakesByCategory('cakes')">Cakes</mat-chip-option>
    <mat-chip-option (click)="filterCakesByCategory('cookies')">Cookies</mat-chip-option>
    <mat-chip-option (click)="filterCakesByCategory('cupcakes')">Cupcakes</mat-chip-option>
  </mat-chip-listbox>

  <mat-icon class="item-container-2">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterCakes()" placeholder="Search for cakes, cookies, etc.">
      <button mat-button (click)="clearSearch()">Clear</button>
    </div>
  </mat-icon>
</div>

  <!-- Display filtered cakes -->
<div>
  <mat-card class="item-card" *ngFor="let item of filteredItems">
    <img class="item-image" mat-card-image src="../../assets/images/{{ item.image }}">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>₹ {{ item.price }}</p>
      <div class="rating">
        <img src="../../assets/images/rating.jpg" alt="Rating" />
        <span>{{ item.rating }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="redirectToOrder(item.id)">
        <mat-icon color="primary">shopping_cart</mat-icon>
      </button>      
    </mat-card-actions>
  </mat-card>
</div>
